.center{
      text-align: center;
      color:red;
       
 }
 .center_blue{
      text-align: center;
      color:blue;
       
 }
  .exit_button{
      text-align: right;
      
       
 }
  .black{
     color: black;
      
       
 }


 


 