<!--Index  que  carga  mis componentes y  el  template  Principal..-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Web View</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  <body >
      <div class="collection">
        <li  *ngFor="let result of resultado" >
          <a href="#!" class="collection-item">Alvin <i class="fa fa-arrow-circle-right"></i></a>
        
     </div>
      <div>
        <app-carros></app-carros>

  
</div>


            
    
  </body>
        




